<ng-container *ngIf="isTouched() || isSubmitted()">
    <div *ngIf="hasError('required'); else customError" class="error">
        {{ 'form_errors.field_required' | translate }}
    </div>

    <ng-template #customError>
        <div *ngIf="customErrorMessage && control.invalid && !hasError('required'); else formatError" class="error">
            {{ customErrorMessage | translate }}
        </div>
    </ng-template>

    <ng-template #formatError>
        <div *ngIf="hasError('pattern') || hasError('email'); else genericError" class="error">
            {{ 'form_errors.incorrect_format' | translate }}
        </div>
    </ng-template>

    <!-- hasError('minlength') || hasError('maxlength')  -->
    <ng-template #genericError>
        <div class="error">
            {{getErrorMessage() | translate}}
        </div>
    </ng-template>
</ng-container>