$app-blue: #015586;
$aoo-dark-blue: #09193B;
$app-white: #FFFFFF;
$app-grey: #FAFAFA;

$grey-background-color: #f7f7f7;
$primary-color: #132F5A;
$dark-primary-color: #08193b;
$app-red: #F24A49;
$disabled-red: #ff3b54ad;
$app-red-shadow: #c4262596;

$app-white: #FFFFFF;
$app-grey: #F4F4F4;
$app-black: #000000;
$disabled-color: #132f5a85;

$html-elements-border-color: #C7C7C7;

$disabled-gray-color: #F0F0F0;
